[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
starlette = "*"
pyyaml = "*"
pytest = "*"
dredd-hooks = "*"
schemathesis = "*"

[dev-packages]
pyyaml = "*"

[requires]
python_version = "3.13"
